[Unit]
Description=Ya Token
After=network.target

[Service]
User=mungu
WorkingDirectory=/mungu/apps/ya-token
ExecStart=/mungu/apps/ya-token/ya-token
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/mungu/apps/ya-token/ya-token/config.env

[Install]
WantedBy=multi-user.target